body{
    margin: 0;
    background-color: black;
}

/*background*/
.background{
    z-index: -1;
    background: transparent;
    position:absolute;
    overflow: hidden;
    scale: 1.03;
}

.background>img{
    min-height: 100%;
    min-width: 100%;
    opacity: 0.48;
}

/*header*/
header{
    padding: 24px;
    width: 100%;
}

header>a{
    margin: 38px;
}

header>a>img{
    width: 186px;
    height: 60px;
}


/*login*/
.login_body{
    margin: 0px 353.888px;
    padding: 0px 64.313px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_top{
    margin-bottom: 100px;
}

.login{
    padding: 60px 68px 40px 68px;
    margin-bottom: 90px;
    background-color: rgba(0,0,0,.75);
    border-radius: 4px;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login>div{
    display:block;
}

.login>div>h1{
    color:white;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 28px;
}

.login>div>form{
    display:block;
    margin-top: 0;
}

.id{
    margin-bottom: 16px;
    position: relative;
}

.id>input{
    border-radius: 4px;
    padding: 16px 20px 0;
    height: 50px;
    box-sizing: border-box;
    width: 314px;
}

.id>label{
    position: relative;
    top:7px;
    color:black;
    left:20px;
    position: absolute;
    font-size: 13px;
}

.pw{
    margin-bottom: 16px;
    position: relative;
}

.pw>input{
    border-radius: 4px;
    padding: 16px 20px 0;
    height: 50px;
    box-sizing: border-box;
    width: 314px;
}

.pw>label{
    position:static;
    top:7px;
    color:black;
    left:20px;
    position: absolute;
    font-size: 13px;
}

.login_button{
    margin: 24px 0 12px;
    padding: 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    background-color: red;
    width: 100%;
    color:white;
    border:0;
}

.login_info{
    display: flex;
    flex-direction: row;
}

.login_info>div>label{
    color:#b3b3b3;;
    font-size: 13px;
    font-weight: 400;
}

.login_info>div>a{
    color: #b3b3b3;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    padding-left: 60px;
}

.login_info>div>a:hover{
    text-decoration: underline;
}

.login_bottom{
    color: #737373;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 120px;
}

.login_bottom>div{
    margin-top: 16px;
    display: inline;
}

.login_bottom>div>a{
    color:white;
    text-decoration: none;
}

.login_bottom>div>p{
    color: #737373;
    font-size: 12px;
    font-weight: 400;
}

.login_bottom>div>p>button{
    color: #0071eb;
    font-size: 12px;
    font-weight: 400;
    background: none;   
    border:none;
    display: inline;
    overflow:hidden;
    margin: 0;
}

/*footer*/
footer{
    background: rgba(0,0,0,.75);
    margin: 0;
    opacity: 0.9;
    padding-bottom:20px;
}

.footer{
    padding:30px 0;
    margin: 0 140px;
}

.f1{
    color:rgba(255, 255, 255, 0.7);
    margin-bottom: 30px;
    font: 16px;
}

.f1>a{
    color:rgba(255, 255, 255, 0.7);
    text-decoration: underline;
}

.f2{
    display: grid;
    margin-bottom: 30px;
    padding: 0px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 1fr;
    row-gap: 13px;
}

.f2>li{
    list-style: none;
}

.f2>li>a{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.7);
    font: 16px;
}

.f3{
    padding: 0.75rem 0px;
}

.f4{
    padding: 0.75rem 0px;
}

.f4>div{
    color:rgba(255, 255, 255, 0.7);
}

.f4>div>a{
    color:rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-size: 0.9rem;
}
