/*첫번째 블록-하얀색 상단 부분*/
header{
    align-items: center; 
    justify-content: center;
    background: rgb(255,255,255);
    display: block;
    position: relative;
}

.adv{
    align-items: center;
    display: flex;
    padding: 16px 24px;
    margin-bottom: 16px;
    justify-content: center;
}

.adv_new{
    color: white;
    background-color: #e60202;
    border-radius: 1rem;
    padding: 3px 12px;
    white-space: nowrap;
}

.adv_content{
    font-size: 16px;
    margin-right: 16px;
    margin-left: 24px;
    font-weight: 400;
}
.adv_content > strong{
    font-size:20px;
}

.adv_link{
    color: rgb(29,99,196);
}

.adv_link > a{
    color: rgb(29,99,196);
    text-decoration: none;
}

.adv_link > a:hover{
    text-decoration: underline;
}

/*첫번째 블록-배경 부분*/
.background{
    background-image: url('img/background.jpg');
    background-size: cover;
    align-items: center; 
    justify-content: center;
    display: block;
    position: relative;
}

.logo_header{
    margin: 0px 150px;
    justify-content: space-between;
    display: flex;
}

.logo > img{
    margin-right: 64.2px;
    width: 180px;
    height: 50px;
}

.logo_and_lang{
    align-items: center;
    display: flex;
}

.logo_lang{
    margin: 0px 4px;
}

.login_button{
    margin: 0px 4px;
}

.login_button > button{
    color: white;
    background-color: #e60202;
    border-radius: 0.5rem;
    font-size: 18px;
    padding: 6px 15px;
    border: none;
}

.background>img{
    display: flex;
    position: static;
    display: flex;
    width: 100%;
}