.division-line{
    border-top: 12px solid #444444;
}

body{
    margin: 0;
}

/*첫번째 블록-하얀색 상단 부분*/
header{
    align-items: center; 
    justify-content: center;
    background: rgb(255,255,255);
    display: block;
    position: relative;
}

.adv{
    align-items: center;
    display: flex;
    padding: 16px 24px;
    margin-bottom: 16px;
    justify-content: center;
}

.adv_new{
    color: white;
    background-color: #e60202;
    border-radius: 1rem;
    padding: 3px 12px;
    white-space: nowrap;
}

.adv_content{
    font-size: 16px;
    margin-right: 16px;
    margin-left: 24px;
    font-weight: 400;
}
.adv_content > strong{
    font-size:20px;
}

.adv_link{
    color: rgb(29,99,196);
}

.adv_link > a{
    color: rgb(29,99,196);
    text-decoration: none;
}

.adv_link > a:hover{
    text-decoration: underline;
}

/*첫번째 블록-배경 부분*/
.background{
    background-image: url('img/background.jpg');
    align-items: center; 
    justify-content: center;
    display: block;
    position: relative;
    background-color: #d4e2b7;
}

.logo_header{
    margin: 0px 150px;
    justify-content: space-between;
    display: flex;
}

.logo > img{
    margin-right: 64.2px;
    width: 180px;
    height: 50px;
}

.logo_and_lang{
    align-items: center;
    display: flex;
}

.logo_lang{
    margin: 0px 4px;
    border-radius: 0.5rem;
    height:15px;
}

.login_button{
    margin: 0px 4px;
}

.login_button > button{
    color: white;
    background-color: #e60202;
    border-radius: 0.5rem;
    font-size: 18px;
    padding: 6px 15px;
    border: none;
}

.background>img{
    display: flex;
    position: static;
    display: block;
    width: 100%;
}

.header_content{
    justify-content: center;
    align-items: center;
    padding:120px 32px;
    text-align: center;
}

.h_content_1 {
    justify-content: center;
    align-items: center;
}

.h_content_1 > h1{
    font-size: 50px;
    justify-content: center;
    align-items: center;
    color: white;
}

.h_content_1 > p{
    margin-top: 16px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
}

.h_content_2{
    margin: 24px;
    padding: 24px;
    justify-content: center;
    align-items: center;
    vertical-align:middle;
}

.h_content_2 > h3{
    margin: 24px;
    padding: 24px;
    font-size: 22px;
    font-weight: 400;
    color: white;
    justify-content: center;
    align-items: center;
}

.h_content_email{
    display: inline;
    justify-content: center;
    align-items: center;
}

.h_content_email > input{
    color: rgba(255,255,255,0.7);
    background: transparent;
    outline:rgba(255,255,255,0.7);
    width : 440px;
    height : 50px;
    font-size : 16px;
    margin: 6px;
}

.h_content_email > input:focus{
    outline:2px solid white;
}

.h_content_email > button{
    border: 1.6px;
    margin: 8px;
    color: white;
    background-color: #e60202;
    border-radius: 0.5rem;
    font-size: 26px;
    padding: 12px 30px;
    border: none;
}

/*1번째 본문*/
.main{
    padding: 72px 0px;
    background-color: black;
}

.main_content{
    margin: 75px 0px;
    text-align: left;
    display: flex;
    align-items: center;
    margin: 75px 200px;
}

.main_l{
    align-items: center;
    margin: 0px 70px;
}

.main_l>h2{
    color: white;
    font-weight: 700;
    font-size: 50px;
    margin: 30px 0px;
}

.main_l>p{
    margin: 5px 0px;
    color: white;
    font-size: 25px;
    font-weight: 400;
}

.main_video >video{
    display: inline;
    width:300;
    height:200;
}

.main_picture{
    padding: 0px 6px;
    width: 100%;
    height:100%;
}

/*faq블록*/
.faq{
    background-color: black;
    padding: 72px 0px;
    justify-content: center;
    align-items: center;
}

.faq_content{
    margin: 0px 32px;
    justify-content: center;
    align-items: center;
    display: block;
}

.faq_title{
    text-align: center;
    color: white;
    font-size: 38px;
    text-align: center;
}

.faq_questions{
    margin-top: 24px;
    justify-content: center;
    align-items: center;
    margin: 30px;
    display: flex;
}

.faq_questions>ul{
    justify-content: center;
    align-items: center;
    display: block;
    margin:0px;
}

.faq_questions>ul>li{
    background-color: #353535;
    justify-content: space-between;
    align-items: center;
    margin-bottom:8px;
    font-size: 24px;
    font-weight: 400;
    padding:24px;
    width: 76rem;
    height: 3.5rem;
    vertical-align: middle;
}

.faq_questions>ul>li:hover{
    background-color: #444444;
}

.question_content{
    color:white;
    text-align: left;
    vertical-align: middle;
    font-size: 30px;
    font-weight: 300;
    float: left;
}

.plus{
    float:right;
}

.plus>span{
    color:white;
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
    font-weight: 300;
    object-fit: cover;
}


/*footer*/
footer{
    background-color: black;
    color: rgba(255, 255, 255, 0.7);
}

.footer{
    padding: 60px 0px;
    margin: 0px 200px;
    font-size: 1.1rem;
    color:rgba(255, 255, 255, 0.7);
}

.f1{
    padding: 0.75rem;
}

.f1>a{
    color:rgba(255, 255, 255, 0.7);
    text-decoration: underline;
}

.f2{
    padding: 0.75rem 0px;
}

.f2>div>ul{
    padding-left: 12px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 13px;
}

.f2>div>ul>li{
    list-style: none;
    
}

.f2>div>ul>li>a{
    color:rgba(255, 255, 255, 0.7);
    text-decoration: underline;
}

.f3{
    padding: 0.75rem 0px;
}

.netflix{
    padding: 0.75rem 0px;
}

.f4{
    padding: 0.75rem 0px;
}

.f4>div>a{
    color:rgba(255, 255, 255, 0.7);
    text-decoration: underline;
    font-size: 0.9rem;
}
